  <log4net debug="true">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\temp\MyLog.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="2" />
      <param name="MaximumFileSize" value="50KB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="Kailua.net.windward.utils.ExceptionFormatter" >
        <param name="Pattern" value="%date [%thread] %level %logger - %exception%newline" />
      </layout>
    </appender>
    <root>
      <level value="debug" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>